<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <seo>
                <product_url_suffix/>
                <generate_nonprefix_301_redirect>1</generate_nonprefix_301_redirect>
            </seo>
        </catalog>
    </default>
</config>
